section#intro{
    flex: 1;
    max-width: 80vw;  
    height: 100vh; 
    margin: 0 auto;
    padding-top: 15%;
    padding-left: 5%
}

#intro article{
    max-width: 60vw;
    line-height: 1.5;
    height: auto;
}


#intro p{
    color: white;
    font-size: max(1.7vw, 18px);
    opacity: 0;
    transition: all .3s linear;
    position: relative;
    top: -50px;
}

#intro p.visible{
    opacity: 1;
    top: 0;
}

#intro p span{
    font-size: max(3vw, 30px);
    font-weight: 600;
    line-height: 1.3;
    color:#FAC86B;
    font-family: 'Source Serif Pro', serif;
}

#intro a{
    text-decoration: none;
    border: 3px solid #FAC86B;
    line-height: 4;
    padding: 5px 8px;
    color: #FAC86B;
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: 'Source Serif Pro', serif;
    opacity: 0;
    transition: all .3s linear;
    position: relative;
    bottom: -50px;
}

#intro a:hover{
    box-shadow: inset 150px 0 0 0 #FAC86B;
    color: #34353A;
}

#intro a.visible{
  opacity: 1;
  bottom: 0;
}